# 03-PyPBA:
## 23

### 1.
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.\
Examples

	is_symmetrical(7227) ➞ True
	is_symmetrical(12567) ➞ False
	is_symmetrical(44444444) ➞ True
	is_symmetrical(9939) ➞ False
	is_symmetrical(1112111) ➞ True

In [0]:
def is_symmetrical(n):
	n=list(str(n))
	return n==n[::-1]

In [0]:
display(is_symmetrical(7227),
	is_symmetrical(12567),
	is_symmetrical(44444444),
	is_symmetrical(9939),
	is_symmetrical(1112111))

True

False

True

False

True

### 2.
Given a string of numbers separated by a comma and space, return the product of the numbers\
Examples

	multiply_nums("2, 3") ➞ 6
	multiply_nums("1, 2, 3, 4") ➞ 24
	multiply_nums("54, 75, 453, 0") ➞ 0
	multiply_nums("10, -2") ➞ -20

In [0]:
def multiply_nums(s):
    return eval(s.replace(', ','*'))

In [0]:
display(multiply_nums("2, 3"),
	multiply_nums("1, 2, 3, 4"),
	multiply_nums("54, 75, 453, 0"),
	multiply_nums("10, -2")
)

6

24

0

-20

### 3
Create a function that squares every digit of a number.\
Examples

	square_digits(9119) ➞ 811181
	square_digits(2483) ➞ 416649
	square_digits(3212) ➞ 9414

Notes
The function receives an integer and must return an integer.

In [ ]:
digits = [int(digit) for digit in str(number)]
squared_digits = int(''.join(str(digit**2) for digit in digits))

In [0]:
def square_digits(n):
    return int(''.join(list(map(str,list(map(lambda x: eval((x+"**2")),list(str(n))))))))

In [0]:
display(square_digits(9119),
	square_digits(2483),
	square_digits(3212))

811181

416649

9414

### 4
Create a function that sorts a list and removes all duplicate items from it.\
Examples

	setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
	setify([4, 4, 4, 4]) ➞ [4]
	setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
	setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [0]:
def setify(l):
	return sorted(set(l))

In [0]:
display(setify([1, 3, 3, 5, 5]),
	setify([4, 4, 4, 4]),
	setify([5, 7, 8, 9, 10, 15]),
	setify([3, 3, 3, 2, 1]))

[1, 3, 5]

[4]

[5, 7, 8, 9, 10, 15]

[1, 2, 3]

### 5
Create a function that returns the mean of all digits.\
Examples

	mean(42) ➞ 3
	mean(12345) ➞ 3
	mean(666) ➞ 6

Notes\
The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [0]:
def mean(n):
	l=list(str(n))
	return eval('+'.join(l))//len(l)

In [0]:
display(mean(42),
	mean(12345),
	mean(666))

3

3

6